
data preparation/scrape/webs/www.topcv.vn/jobs_data.csv
data preparation/scrape/webs/www.topcv.vn/company_link.csv
data preparation/scrape/webs/www.topcv.vn/companies_data.csv
node_modules
.DS_Store
front-end/findev/yarn.lock
front-end/findev/pakage-lock.json
Front-end/findev/.next/*
*.pack
front-end/findev/.next/
api_job_ocr/__pycache__/
front-end/findev/yarn.lock
.env
*.gz
recommend/__pycache__/*
