ELASTICSEARCH_HOST=http://localhost:9201
MONGODB_CONNECTION_STRING=mongodb+srv://tuansoi19127084:tuansoi19127084@cluster0.n8shx9d.mongodb.net/test?retryWrites=true&w=majority
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
GOOGLE_DRIVE_FILE_URL=https://drive.google.com/uc?id=1AQrnIFnqzPQbXXbYRADj5yh1I3_E_YMt
JOB_FILE_URL="https://drive.google.com/uc?id=1kAK11AE9FIsLge78Ih9vzYCrGCxqOkOf"
API_KEY = "AIzaSyBhuTWJxsqguPJxnh9X8KMu8VFVGDR9iLw"
AUTH_DOMAIN = "findev-fde4d.firebaseapp.com"
DATABASE_URL = "https://findev-fde4d.firebaseio.com"
PROJECT_ID  = "findev-fde4d"
STORAGE_BUCKET = "findev-fde4d.appspot.com"
MESSAGING_SENDER_ID = "893688082864"
APP_ID = "1:893688082864:web:9472d0d2f651d951fda675"
MEASUREMENT_ID = "G-CSJEECNTQ4" 
EMAIL = "huyhoang23062001@gmail.com"
PASSWORD = "Hh23062001@"