fastapi
pandas
numpy
elasticsearch==7.7.0
tika
opencv-python-headless
regex
re
uvicorn
pymongo
mysql-connector-python
requests
gensim
python-multipart
python-dotenv
paginate_sqlalchemy
pyrebase
shutil
pdf2image
dlib
urllib
dotenv
nltk
spacy
pydantic
https://gitlab.com/trungtv/vi_spacy/-/raw/master/vi_core_news_lg/dist/vi_core_news_lg-0.0.1.tar.gz