ELASTICSEARCH_HOST=http://localhost:9201
MONGODB_CONNECTION_STRING=mongodb+srv://tuansoi19127084:tuansoi19127084@cluster0.n8shx9d.mongodb.net/test?retryWrites=true&w=majority
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
GOOGLE_DRIVE_FILE_URL=https://drive.google.com/uc?id=1AQrnIFnqzPQbXXbYRADj5yh1I3_E_YMt
JOB_FILE_URL="https://drive.google.com/uc?id=1kAK11AE9FIsLge78Ih9vzYCrGCxqOkOf"